[submodule "doc/projects/kickstart"]
	path = doc/projects/kickstart
	url = https://github.com/infracamp/kickstart.git
[submodule "docs/projects/kickstart"]
	path = docs/projects/kickstart
	url = https://github.com/infracamp/kickstart.git
[submodule "docs/projects/kickguest-virtualbox"]
	path = docs/projects/kickguest-virtualbox
	url = https://github.com/infracamp/kickguest-virtualbox.git

