[submodule "doc/projects/kickstart"]
	path = doc/projects/kickstart
	url = https://github.com/infracamp/kickstart.git
[submodule "docs/projects/kickstart"]
	path = docs/projects/kickstart
	url = https://github.com/infracamp/kickstart.git
[submodule "docs/projects/kickguest-virtualbox"]
	path = docs/projects/kickguest-virtualbox
	url = https://github.com/infracamp/kickguest-virtualbox.git

[submodule "docs/projects/infracamp.wiki"]
	path = docs/projects/infracamp.wiki
	url = https://github.com/infracamp/infracamp.wiki.git
